In [20]:
from secretes import *
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [4]:
def cria_conexao(database:str, passwd: str,host:str="127.0.0.1", user:str='root'):
    engine = create_engine(f'mysql+pymysql://{user}:{passwd}@{host}/{database}')

    return engine

In [7]:
con = cria_conexao(user=user, passwd=password, database='TrabalhoInfantil')

In [45]:
df = pd.read_sql_table('tbpnadc', con=con)

In [46]:
pd.set_option('display.max_columns', None)

In [47]:
df.head()

,Ano,Trimestre,CDUF,Capital,RM_RIDE,CnaeDomiciliar,Peso,Sexo,Idade,FrequentaEscola,TrabDinheiro,TrabNatura,Bico,TrabSemReceber,TrabQueEstavaAfastado,CodigoOcupacao,TipoRendimento,PosicaoCategoriaEmprego,Cultivo14,Carvao14,Roupas14,Construcao14,Cuidado14,CuidadoFamilia14,Domestico14,DomesticoFamilia14,CnaeDomicilliar5a13,TrabDinheiro5a13,TrabNatura5a13,Bico5a13,TrabSemReceber5a13,CodigoOcupacao5a13,Cultivo5a13,Carvao5a13,Roupas5a13,Construcao5a13,Cuidado5a13,CuidadoFamilia5a13,Domestico5a13,DomesticoFamilia5a13
0,2016,2,11,11,None,0022,000153.36772497,1,037,1,2,2,1,3,None,333,0,None,None,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,7,1,1,1
1,2016,2,11,11,None,0112,000153.36772497,2,023,2,None,None,None,None,None,313,8,None,None,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,9,1,1,1
2,2016,2,11,11,None,None,000153.36772497,1,018,1,2,2,2,None,None,None,None,None,None,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,8,None,None,None
3,2016,2,11,11,None,None,000153.36772497,2,041,2,2,2,2,None,None,None,None,None,None,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2,None,None,None
4,2016,2,11,11,None,None,000153.36772497,1,007,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2,None,None,None,None,None,None,2,2,None,1,None,None,None

In [48]:
df.columns

Index(['Ano', 'Trimestre', 'CDUF', 'Capital', 'RM_RIDE', 'CnaeDomiciliar',
       'Peso', 'Sexo', 'Idade', 'FrequentaEscola', 'TrabDinheiro',
       'TrabNatura', 'Bico', 'TrabSemReceber', 'TrabQueEstavaAfastado',
       'CodigoOcupacao', 'TipoRendimento', 'PosicaoCategoriaEmprego',
       'Cultivo14', 'Carvao14', 'Roupas14', 'Construcao14', 'Cuidado14',
       'CuidadoFamilia14', 'Domestico14', 'DomesticoFamilia14',
       'CnaeDomicilliar5a13', 'TrabDinheiro5a13', 'TrabNatura5a13', 'Bico5a13',
       'TrabSemReceber5a13', 'CodigoOcupacao5a13', 'Cultivo5a13', 'Carvao5a13',
       'Roupas5a13', 'Construcao5a13', 'Cuidado5a13', 'CuidadoFamilia5a13',
       'Domestico5a13', 'DomesticoFamilia5a13'],
      dtype='object')

In [49]:
df = df.astype({'Peso':float, 'Idade':int})
df = df[(df['Ano']=='2019') & (df['Trimestre']=='4') & (df['Idade']<18) & (df['Idade']>=5)]
df = df[(df['TrabDinheiro'] =='1') |
        (df['TrabNatura'] =='1') | 
        (df['Bico'] =='1') | 
        (df['TrabSemReceber']=='1') | 
        (df['TrabQueEstavaAfastado']=='1') |
        (df['TrabDinheiro5a13'] =='1') |
        (df['TrabNatura5a13'] =='1') | 
        (df['Bico5a13'] =='1') | 
        (df['TrabSemReceber5a13']=='1') ]

df.head()

,Ano,Trimestre,CDUF,Capital,RM_RIDE,CnaeDomiciliar,Peso,Sexo,Idade,FrequentaEscola,TrabDinheiro,TrabNatura,Bico,TrabSemReceber,TrabQueEstavaAfastado,CodigoOcupacao,TipoRendimento,PosicaoCategoriaEmprego,Cultivo14,Carvao14,Roupas14,Construcao14,Cuidado14,CuidadoFamilia14,Domestico14,DomesticoFamilia14,CnaeDomicilliar5a13,TrabDinheiro5a13,TrabNatura5a13,Bico5a13,TrabSemReceber5a13,CodigoOcupacao5a13,Cultivo5a13,Carvao5a13,Roupas5a13,Construcao5a13,Cuidado5a13,CuidadoFamilia5a13,Domestico5a13,DomesticoFamilia5a13
1331503,2019,4,11,None,None,01201,82.476525,1,15,1,2,2,2,1,None,6121,None,None,2,2,2,2,1,2,1,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1332154,2019,4,11,None,None,01201,151.596227,1,16,2,1,None,None,None,None,6121,None,None,2,2,2,2,2,2,2,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1332246,2019,4,11,None,None,01201,132.106496,2,17,1,2,2,2,1,None,9212,None,None,1,2,2,2,2,2,1,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1332247,2019,4,11,None,None,01201,132.106496,2,17,1,2,2,2,1,None,9212,None,None,1,2,2,2,2,2,1,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1332806,2019,4,11,None,None,None,120.578180,1,13,1,None,None,None,None,None,None,None,5,None,None,None,None,None,None,None,None,01113,2,2,2,1,9211,2,2,2,2,2,2,2,2

In [50]:
df['Sexo'] = np.where(df['Sexo'] == '1','M', 'F')
df['FaixaIdade'] = np.where(df['Idade'].between(5, 13, inclusive=True), '5 a 13',
                             '14 a 17')
df['AtividadeGeral'] = np.where((df['CnaeDomiciliar'] < '10000')|
                                (df['CnaeDomicilliar5a13'] < '10000'),'Agricola', 'Nao Agricola')

df['GrupamentoAtividade'] = np.where((df['CnaeDomiciliar'] < '10000')|
                                      (df['CnaeDomicilliar5a13'] < '10000') ,'Agricultura', 
                             np.where(((df['CnaeDomiciliar'] >= '45000') & (df['CnaeDomiciliar'] < '49000'))|
                                      ((df['CnaeDomicilliar5a13'] >= '45000') & (df['CnaeDomicilliar5a13'] < '49000')),'Comercio',
                             np.where((df['CnaeDomiciliar'] == '97000')|
                                      (df['CnaeDomicilliar5a13'] == '97000') ,'Servicos Domesticos','Outros')))
                                      

                                      
                             
                            

df.head()

C:\Users\SRTP - PB\AppData\Local\Temp\ipykernel_5400\3110266420.py:2: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df['FaixaIdade'] = np.where(df['Idade'].between(5, 13, inclusive=True), '5 a 13',

,Ano,Trimestre,CDUF,Capital,RM_RIDE,CnaeDomiciliar,Peso,Sexo,Idade,FrequentaEscola,TrabDinheiro,TrabNatura,Bico,TrabSemReceber,TrabQueEstavaAfastado,CodigoOcupacao,TipoRendimento,PosicaoCategoriaEmprego,Cultivo14,Carvao14,Roupas14,Construcao14,Cuidado14,CuidadoFamilia14,Domestico14,DomesticoFamilia14,CnaeDomicilliar5a13,TrabDinheiro5a13,TrabNatura5a13,Bico5a13,TrabSemReceber5a13,CodigoOcupacao5a13,Cultivo5a13,Carvao5a13,Roupas5a13,Construcao5a13,Cuidado5a13,CuidadoFamilia5a13,Domestico5a13,DomesticoFamilia5a13,FaixaIdade,AtividadeGeral,GrupamentoAtividade
1331503,2019,4,11,None,None,01201,82.476525,M,15,1,2,2,2,1,None,6121,None,None,2,2,2,2,1,2,1,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,14 a 17,Agricola,Agricultura
1332154,2019,4,11,None,None,01201,151.596227,M,16,2,1,None,None,None,None,6121,None,None,2,2,2,2,2,2,2,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,14 a 17,Agricola,Agricultura
1332246,2019,4,11,None,None,01201,132.106496,F,17,1,2,2,2,1,None,9212,None,None,1,2,2,2,2,2,1,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,14 a 17,Agricola,Agricultura
1332247,2019,4,11,None,None,01201,132.106496,F,17,1,2,2,2,1,None,9212,None,None,1,2,2,2,2,2,1,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,14 a 17,Agricola,Agricultura
1332806,2019,4,11,None,None,None,120.578180,M,13,1,None,None,None,None,None,None,None,5,None,None,None,None,None,None,None,None,01113,2,2,2,1,9211,2,2,2,2,2,2,2,2,5 a 13,Agricola,Agricultura

In [51]:
df.columns

Index(['Ano', 'Trimestre', 'CDUF', 'Capital', 'RM_RIDE', 'CnaeDomiciliar',
       'Peso', 'Sexo', 'Idade', 'FrequentaEscola', 'TrabDinheiro',
       'TrabNatura', 'Bico', 'TrabSemReceber', 'TrabQueEstavaAfastado',
       'CodigoOcupacao', 'TipoRendimento', 'PosicaoCategoriaEmprego',
       'Cultivo14', 'Carvao14', 'Roupas14', 'Construcao14', 'Cuidado14',
       'CuidadoFamilia14', 'Domestico14', 'DomesticoFamilia14',
       'CnaeDomicilliar5a13', 'TrabDinheiro5a13', 'TrabNatura5a13', 'Bico5a13',
       'TrabSemReceber5a13', 'CodigoOcupacao5a13', 'Cultivo5a13', 'Carvao5a13',
       'Roupas5a13', 'Construcao5a13', 'Cuidado5a13', 'CuidadoFamilia5a13',
       'Domestico5a13', 'DomesticoFamilia5a13', 'FaixaIdade', 'AtividadeGeral',
       'GrupamentoAtividade'],
      dtype='object')

In [52]:
df = df[['Peso', 'Sexo','FaixaIdade', 'AtividadeGeral','GrupamentoAtividade']]
df_gr = df.groupby(['Sexo','FaixaIdade', 'AtividadeGeral','GrupamentoAtividade'], as_index=False).sum()

In [54]:
df_gr = df_gr.rename(columns={'Peso':'Trabalhadores'})
df_gr.head()

  Sexo FaixaIdade AtividadeGeral  GrupamentoAtividade  Trabalhadores
0    F    14 a 17       Agricola          Agricultura   23643.964730
1    F    14 a 17   Nao Agricola             Comercio   29233.935739
2    F    14 a 17   Nao Agricola               Outros  267457.289768
3    F    14 a 17   Nao Agricola  Servicos Domesticos   12896.153301
4    F     5 a 13       Agricola          Agricultura    1985.453240